@charset "utf-8";
/* CSS Document */
#wrapper{
width:1200px;
height:1400px;
background-color:#29B8D6;
font-family:Verdana;
font-size:14px;
margin:0px auto;
}
body{
background-color:#29B8D6;
}
#logo{
float:left;
width:1200px;
height:234px;
}
#cuerpo{
float:left;
margin-top:1px;
margin-left:1px;
}
#Redes{
float:left;
margin-top:-200px;
margin-left:860px;
color:#FFF;
font-size:12px;
font-family:Arial, Helvetica, sans-serif;
}
#REDSOCIALES{
float:left;
margin-top:-180px;
margin-left:950px;
}
#fb{
float:left;
margin-left:2px;
}
#twt{
float:left;
margin-left:7px;
}
#youtoube{
float:left;
margin-left:7px;
}
#presentacion{
float:left;
margin-top:-580px;
margin-left:90px;
font-size:28px;
color:#FFF;
font-family:Book Antiqua;
}
#li-pe{
float:left;
margin-top:-540px;
margin-left:85px;
}
#texto{
float:left;
text-align:center;
font-family:Arial, Helvetica, sans-serif;
color:#FFF;
text-align:justify;
margin-top:-520px;
width:531px;
height:75px;
margin-left:87px;
}
#video{
float:left;
margin-top:-585px;
margin-left:684px;
}
#Noticias{
float:left;
color:#FFF;
font-size:20px;
font-family:Arial, Helvetica, sans-serif;
margin-left:90px;
margin-top:-400px;
}
#cuadro{
float:left;
margin-top:-270px;
margin-left:855px;
}
#mano{
float:left;
margin-top:-410px;
margin-left:180px;
}
#boletines{
float:left;
margin-top:-340px;
margin-left:80px;
}
#comunicados{
float:left;
margin-top:-340px;
margin-left:270px;
}
/*-----------------------------------------pie de pagina--------------*/
#Informes{
float:left;
margin-top:-120px;
color:#FFF;
border-color:#009;
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
margin-left:45px;
}
#telefono{
float:left;
margin-top:-120px;
color:#FFF;
border-color:#009;
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
margin-left:148px;
}
#Direccion{
float:left;
margin-top:-90px;
color:#FFF;
border-color:#009;
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
margin-left:140px;
}
#n°{
float:left;
margin-top:-120px;
color:#FFF;
border-color:#009;
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
margin-left:240px;
}
#lugar{
float:left;
margin-top:-90px;
color:#FFF;
border-color:#009;
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
margin-left:240px;

}
#Redes-p{
float:left;
margin-top:-130px;
margin-left:590px;
color:#FFF;
font-size:12px;
font-family:Arial, Helvetica, sans-serif;
}
#REDSOCIALES-pie{
float:left;
margin-top:-100px;
margin-left:670px;
}
#fb{
float:left;
margin-left:2px;
}
#twt{
float:left;
margin-left:7px;
}
#youtoube{
float:left;
margin-left:7px;
}
#presentacion{
float:left;
margin-top:-580px;
margin-left:90px;
font-size:28px;
color:#FFF;
font-family:Book Antiqua;
}
#descarga2{
float:left;
margin-top:-128px;
margin-left:880px;
}
#Reseña{
float:left;
color:#FFF;
margin-top:-960px;
font-size:30px;
margin-left:60px;
}
#linea{
float:left;
margin-left:30px;
margin-top:-460px;
}
#letra{
float:left;
margin-top:-900px;
color:#FFF;
width:1000px;
margin-left:61px;
font-size:16px;
font-family:Arial, Helvetica, sans-serif;
text-align:justify;
}
#letra2{
float:left;
margin-top:-850px;
color:#FFF;
width:1000px;
margin-left:61px;
font-size:16px;
font-family:Arial, Helvetica, sans-serif;
text-align:justify;
}
#letra3{
float:left;
margin-top:-765px;
color:#FFF;
width:1000px;
margin-left:61px;
font-size:16px;
font-family:Arial, Helvetica, sans-serif;
text-align:justify;
}
#letra4{
float:left;
margin-top:-670px;
color:#FFF;
width:1000px;
margin-left:61px;
font-size:16px;
font-family:Arial, Helvetica, sans-serif;
text-align:justify;
}
#letra5{
float:left;
margin-top:-600px;
color:#FFF;
width:1000px;
margin-left:61px;
font-size:16px;
font-family:Arial, Helvetica, sans-serif;
text-align:justify;
}
#letra6{
float:left;
margin-top:-550px;
color:#FFF;
width:1000px;
margin-left:61px;
font-size:16px;
font-family:Arial, Helvetica, sans-serif;
text-align:justify;
}
#letra7{
float:left;
margin-top:-500px;
color:#FFF;
width:1000px;
margin-left:61px;
font-size:16px;
font-family:Arial, Helvetica, sans-serif;
text-align:justify;
}
#letra7{
float:left;
margin-top:-500px;
color:#FFF;
width:1000px;
margin-left:61px;
font-size:16px;
font-family:Arial, Helvetica, sans-serif;
text-align:justify;
}
#letra7{
float:left;
margin-top:-500px;
color:#FFF;
width:1000px;
margin-left:61px;
font-size:16px;
font-family:Arial, Helvetica, sans-serif;
text-align:justify;
}
#letra8{
float:left;
margin-top:-430px;
color:#FFF;
width:1000px;
margin-left:61px;
font-size:16px;
font-family:Arial, Helvetica, sans-serif;
text-align:justify;
}
#carlos{
float:left;
margin-top:-195px;
margin-left:30px;
}
#corne{
float:left;
margin-top:-290px;
color:#FFF;
margin-left:250px;
font-size:16px;
font-family:"Arial Black", Gadget, sans-serif;
}
#Fundador{
float:left;
margin-top:-260px;
color:#FFF;
margin-left:430px;
font-size:16px;
font-family:"Arial Black", Gadget, sans-serif;
}