@charset "utf-8";

/* CSS Document */
#wrapper{
width:1200px;
height:780px;
font-family:Verdana;
font-size:14px;
margin:0px auto;
}
#logo{/* el logo de la empresa */
float:left;
margin-left:80px;
margin-top:70px;
}
/*-------estilo del buscado--------*/
#buscar{
float:left;
margin-top:10px;
border:dashed;
border-radius:12px;
margin-left:65%;
padding:15px 15px;
}
form{
margin-right:62px;}
form input{
color:#FFF;
float:left;
font-family:Arial, Helvetica, sans-serif;
width:194px;
height:22px;
padding:0px;
background:#999;
margin-left:0.5px;
margin-top:11px;
text-align:center;
border:#666;
border-radius:10px;
}
#search{
width:71px;
height:22px;
background:url(../img/buscador.fw.png);
float:left;
margin-left:4px;
margin-top:11px;
}
#servicio{
float:left;
margin-top:-40px;
margin-left:14px;
text-decoration:inherit;
font-size:12px;
color:#330;
font-family:"Comic Sans MS", cursive;
}
/*-------texto que riderecciona a la pagina LG--------*/
#marcas{
float:left;
margin-top:-50px;
margin-left:110px;
}

#txtmarcas{
float:left;
margin-left:180px;
margin-top:-35px;
font-family:"Comic Sans MS", cursive;
}
/*el pie de pagina*/
#footer{
width:1050px;
height:90px;
float:left;
border-radius:40px;
margin-left:80px;
margin-top:20px;
}
#linea1{
width:1050px;
height:5px;
background:#333;
border-radius:40px;
margin-top:5px;
}
#linea2{
width:1050px;
height:5px;
background:#333;
margin-top:30px;
border-radius:40px;
}
#text{
float:left;
margin-top:0.5px;
margin-left:125px;
}
/*------desarrollador-----*/
#anuncio{
float:left;
margin-left:400px;
font-size:9px;
font-family:"Comic Sans MS", cursive;
color:#330;
}
#nosotros{
float:left;
margin-left:120px;
margin-top:40px;
}
#"titulo1"{
float:left;
margin-left:30px;
}
#historia{
float:left;
margin-top:30px;
width:510px;
color:#030;
font-size:16px;
font-family:"Arial Black", Gadget, sans-serif;
margin-left:50px;

}
#parrafo1{
float:left;
margin-top:20px;
width:510px;
margin-left:50px;
text-align:justify;
color:#333;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
}
/---#parrafo2{
float:left;
margin-top:25px;
width:510px;
margin-right:5px;
text-align:justify;
color:#333;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
}
#vision{
float:left;
margin-top:10px;
color:#030;
width:510px;
font-size:16px;
font-family:"Arial Black", Gadget, sans-serif;
margin-left:50px;
}
#txt{
float:left;
margin-top:10px;
width:510px;
margin-left:50px;
text-align:justify;
color:#333;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
}
#misión{
float:left;
margin-top:10px;
color:#030;
width:510px;
font-size:16px;
font-family:"Arial Black", Gadget, sans-serif;
margin-left:50px;
}
#txt2{
float:left;
margin-top:5px;
width:510px;
margin-left:390px;
text-align:justify;
color:#333;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
}
#banner{
float:left;
margin-top:5px;
margin-left:90px;
}
}
@media screen and (max-width: 1200px) { /*aqui se adapta los componentes a movil--*/
#footer {
width:60%;
margin-top:290px;
margin-left:-590px;
}
#linea1{
width:60%;
margin-left:20px;
margin-top:140px;
}
#linea2{
width:60%;
margin-left:20px;
margin-top:25px;
}
#text{
width:50%;
margin-top:5px;
float:left;
margin-left:20px;
}
#anuncio{
width:30%;
margin-top:5px;
float:left;
margin-left:90px;
}
#logo{/* el logo de la empresa */
width:20%;
float:left;
margin-left:20px;
}

media screen and (max-width: 1200px) { /*aqui se adapta los componentes a movil--*/
#marcas{
 width:40%;
 float:left;
 margin-top:345px;
 margin-left:-180px;
}

#txtmarcas{
 width:20%;
 float:left;
 margin-top:270px;
 margin-left:-230px;

}
#buscar{
width:15%;
float:left;
margin-top:180px;
margin-left:-230px;


}
form{
width:30%;
}
form input{
color:#FFF;
float:left;
font-family:Arial, Helvetica, sans-serif;
width:120%;
background:#999;
margin-left:20px;
margin-top:11px;
text-align:center;
border:#666;
border-radius:10px;
}
#search{
width:120%;
background:url(../img/buscador.fw.png);
float:left;
margin-left:90px;
margin-top:-20px;
}
#servicio{
width:50%;
float:left;
margin-top:-40px;
margin-left:-140px;
text-decoration:inherit;
font-size:12px;
color:#330;
font-family:"Comic Sans MS", cursive;
}

}